/** =========================================================================
 ** MENU ESQUERDO - COMPARAR
 ** ========================================================================*/
 .containerPrincipal #lateralEsquerda #boxEsquerdo #boxComparar{
    opacity: 0;
    animation: fadeBoxVoltar .5s forwards;
    position: absolute;
    top: 0px;
    left: 73px;
    background-color: #eeeeee;
    border-radius: 0 10px 10px 0;
    border-left: solid 2px #dedede;
    width: 0;
    height: calc(100vh - 250px);
    transition: .5s;
}

 .containerPrincipal #lateralEsquerda.active #boxEsquerdo #boxComparar.active{
    animation: fadeBox .5s .5s forwards;
    z-index: 1000;
 }

 
/* ESTILO BOX1 */
#boxEsquerdo #boxComparar #box1{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: 70px;
}

/* ESTILO BOX1 - TITÚLO */
#boxEsquerdo #boxComparar #box1 #titulo{
    color: #0052f3;
}

#boxEsquerdo #boxComparar #box1 #titulo #btnInfo{
    font-size: 18px;
    color: black;
}

#boxEsquerdo #boxComparar #box1 #titulo #btnInfo:hover{
    color: #636363;
}

#boxEsquerdo #boxComparar #box1 #titulo #btnInfo[aria-label]::after{
    position: absolute;
    top: -2px;
    left: 25px;
    width: max-content;
}

/* ESTILO BOX1 - BOTÃO FECHAR */
#boxEsquerdo #boxComparar #box1 #btnFechar{
    background: none;
    border: none;
    color: #0052f3;
    font-size: 25px;
    cursor: pointer;
}

#boxEsquerdo #boxComparar #box1 #btnFechar:hover{
    color: #636363;
}

#boxEsquerdo #boxComparar #box1 #btnFechar[aria-label]::after{
    position: absolute;
    top: -2px;
    right: 25px;
    width: max-content;
}


/* ESTILO BOX2 */
#boxEsquerdo #boxComparar #box2{
    /* padding: 20px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    height: 70px;
    border-top: solid 2px #dedede;
    
}

/* ESTILO BOX2 - BOTÕES */
#boxEsquerdo #boxComparar #box2 button{
    background: none;
    border: none;
    display: block;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: #636363;
}

#boxEsquerdo #boxComparar #box2 button:hover{
    color: #0052f3;
}

#boxEsquerdo #boxComparar #box2 button i{
    display: block;
    margin-bottom: 10px;
    font-size: 22px;
}

#boxEsquerdo #boxComparar #box2 button#btnFavoritos{
    border-left: solid 2px #dedede;
}


/* ESTILO BOX3 */
#boxEsquerdo #boxComparar #box3{
    position: absolute;
    padding: 20px;
    border-top: solid 2px #dedede;
    width: 100%;
    height: calc(100% - 190px);
    border: solid 1px red;
    
}