/** =========================================================================
 ** MENU ESQUERDO - IMAGENS
 ** ========================================================================*/
 .containerPrincipal #lateralEsquerda #boxEsquerdo #boxImagens{
    opacity: 0;
    animation: fadeBoxVoltar .5s forwards;
    position: absolute;
    top: 0px;
    left: 73px;
    background-color: #eeeeee;
    border-radius: 0 10px 10px 0;
    border-left: solid 2px #dedede;
    width: 0;
    height: calc(100vh - 250px);
    transition: .5s;
}

 .containerPrincipal #lateralEsquerda.active #boxEsquerdo #boxImagens.active{
    animation: fadeBox .5s .5s forwards;
    z-index: 1000;
 }

 
/* ESTILO BOX1 */
#boxEsquerdo #boxImagens #box1{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: 70px;
}

/* ESTILO BOX1 - TITÚLO */
#boxEsquerdo #boxImagens #box1 #titulo{
    color: #0052f3;
}

#boxEsquerdo #boxImagens #box1 #titulo #btnInfo{
    font-size: 18px;
    color: black;
}

#boxEsquerdo #boxImagens #box1 #titulo #btnInfo:hover{
    color: #636363;
}

#boxEsquerdo #boxImagens #box1 #titulo #btnInfo[aria-label]::after{
    position: absolute;
    top: -2px;
    left: 25px;
    width: max-content;
}

/* ESTILO BOX1 - BOTÃO FECHAR */
#boxEsquerdo #boxImagens #box1 #btnFechar{
    background: none;
    border: none;
    color: #0052f3;
    font-size: 25px;
    cursor: pointer;
}

#boxEsquerdo #boxImagens #box1 #btnFechar:hover{
    color: #636363;
}

#boxEsquerdo #boxImagens #box1 #btnFechar[aria-label]::after{
    position: absolute;
    top: -2px;
    right: 25px;
    width: max-content;
}


/* ESTILO BOX2 */
#boxEsquerdo #boxImagens #box2{
    /* padding: 20px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    height: 70px;
    border-top: solid 2px #dedede;
    
}

/* ESTILO BOX2 - BOTÕES */
#boxEsquerdo #boxImagens #box2 button{
    background: none;
    border: none;
    display: block;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: #636363;
}

#boxEsquerdo #boxImagens #box2 button:hover{
    color: #0052f3;
}

#boxEsquerdo #boxImagens #box2 button i{
    display: block;
    margin-bottom: 10px;
    font-size: 22px;
}

#boxEsquerdo #boxImagens #box2 button#btnFavoritos{
    border-left: solid 2px #dedede;
}

#boxImagens #box2 button#btnFiltros.active, #boxImagens #box2 button#btnFavoritos.active{
    color: #0052f3;
}


/* ESTILO BOX3 */
#boxEsquerdo #boxImagens #box3{
    border-top: solid 2px #dedede;
    width: 100%;
    height: calc(100% - 190px);
    /* border: solid 1px red; */
    position: absolute;
    overflow: auto;
}

/* ESTILO FILTROS */
#boxEsquerdo #boxImagens #box3 #boxFiltros{
    position: absolute;
    top: 0px;
    opacity: 0;
    width: 0;
    transition: .5s;

}

#boxEsquerdo #boxImagens #box3 #boxFiltros #box-filtros-data{
    text-align: center;
    padding: 20px;

}

#boxEsquerdo #boxImagens #box3 #boxFiltros #box-filtros-data > p{
    color: red;
    margin-bottom: 10px;
}

#boxEsquerdo #boxImagens #box3 #boxFiltros #box-filtros-data > input{
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

#boxEsquerdo #boxImagens #box3 #boxFiltros #box-filtros-fonte-imagem{
    border-top: solid 2px #dedede;
    padding: 20px;
}

#boxEsquerdo #boxImagens #box3 #boxFiltros #box-filtros-fonte-imagem #titulo{
    display: flex;
    color: #0052f3;
    gap: 3px;
    align-self: center;
    margin-bottom: 10px;
}

#boxEsquerdo #boxImagens #box3 #boxFiltros #box-filtros-fonte-imagem > button{
    background: none;
    border: none;
    padding: 3px 8px;
    border-radius: 5px;
    background-color: #636363;
    color: white;
    cursor: pointer;
    margin-bottom: 5px;
}

#boxEsquerdo #boxImagens #box3 #boxFiltros #box-filtros-fonte-imagem > button:hover{
    background-color: #0052f3;
}


#boxEsquerdo #boxImagens #box3 #boxFiltros #box-filtros-nuvens{
    border-top: solid 2px #dedede;
    padding: 20px;
}

#boxEsquerdo #boxImagens #box3 #boxFiltros #box-filtros-nuvens #titulo{
    display: flex;
    color: #0052f3;
    gap: 3px;
    align-self: center;
    margin-bottom: 10px;
}

#boxEsquerdo #boxImagens #box3 #boxFiltros #box-filtros-nuvens > input{
    width: 100%;
}


#boxEsquerdo #boxImagens #box3 #boxFiltros #box-filtros-botoes{
    border-top: solid 2px #dedede;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#boxEsquerdo #boxImagens #box3 #boxFiltros #box-filtros-botoes > button{
    background: none;
    border: none;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    color: white;
}

#boxEsquerdo #boxImagens #box3 #boxFiltros #box-filtros-botoes #btnDescartar{
    background-color: #e05157;
}

#boxEsquerdo #boxImagens #box3 #boxFiltros #box-filtros-botoes #btnDescartar:hover{
    background-color: #b62a31;
}

#boxEsquerdo #boxImagens #box3 #boxFiltros #box-filtros-botoes #btnFiltrar{
    background-color: #4bc673;
}

#boxEsquerdo #boxImagens #box3 #boxFiltros #box-filtros-botoes #btnFiltrar:hover{
    background-color: #29a552;
}

#boxEsquerdo #boxImagens #box3 #boxFiltros.active{
    width: 100%;
    opacity: 1;
    z-index: 1000;
    
}


/* ESTILO FAVORITOS */
#boxEsquerdo #boxImagens #box3 #boxFavoritos{
    position: relative;
    top: 0px;
    padding: 20px;
    opacity: 0;
    width: 0;
    transition: .5s;
}


#boxEsquerdo #boxImagens #box3 #boxFavoritos .box-favoritos-itens{
    margin-bottom: 30px;
    
}


#boxEsquerdo #boxImagens #box3 #boxFavoritos .box-favoritos-itens  .img-favorito > img{
    width: 100%;
    border-radius: 10px;
    text-align: center;
    position: relative !important;
}

#boxEsquerdo #boxImagens #box3 #boxFavoritos .box-favoritos-itens .img-favorito .btnMarcarFavorito{
    position: absolute;
    top: 30px;
    left: 35px;

    background: none;
    border: none;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.705);
    cursor: pointer;
}

#boxEsquerdo #boxImagens #box3 #boxFavoritos .box-favoritos-itens .img-favorito .btnMarcarFavorito[aria-label]::after{
    position: absolute;
    top: 30px;
    left: 0px;
    width: max-content;
}


#boxEsquerdo #boxImagens #box3 #boxFavoritos .box-favoritos-itens .img-favorito .btnMarcarFavorito:hover{
    color: yellow;
}

#boxEsquerdo #boxImagens #box3 #boxFavoritos .box-favoritos-itens .img-favorito .btnMarcarFavorito.active{
    color: yellow;
}

/* ESTILO DO TEXTO SOBRE A FOTO */
#boxEsquerdo #boxImagens #box3 #boxFavoritos .box-favoritos-itens .img-favorito .img-texto-baixa-resolucao{
    position: absolute;
    top: 30px;
    right: 35px;

    background-color: #00cec6;
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
}

#boxEsquerdo #boxImagens #box3 #boxFavoritos .box-favoritos-itens .img-favorito .img-texto-alta-resolucao{
    position: absolute;
    top: 30px;
    right: 35px;

    background-color: #0052f3;
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
}

#boxEsquerdo #boxImagens #box3 #boxFavoritos .box-favoritos-itens .img-favorito .img-texto-monitoramento{
    position: absolute;
    top: 30px;
    right: 35px;

    background-color: #00d46b;
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
}

#boxEsquerdo #boxImagens #box3 #boxFavoritos .box-favoritos-itens .img-favorito .img-texto-upload{
    position: absolute;
    top: 30px;
    right: 35px;

    background-color: #7b28ca;
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
}

#boxEsquerdo #boxImagens #box3 #boxFavoritos .box-favoritos-itens .img-favorito .img-data{
    position: absolute;
    right: 35px;
    top: 130px;

    color: white;
    font-weight: bold;
}

#boxEsquerdo #boxImagens #box3 #boxFavoritos .box-favoritos-itens .linhas{
    display: flex;
    color: #636363;
    justify-items: center;
    /* font-size: 14px; */
    gap: 5px;
    padding-right: 15px;
    padding-top: 10px;
}

#boxEsquerdo #boxImagens #box3 #boxFavoritos .box-favoritos-itens .quebra-linha{
    display: flex;
}

#boxEsquerdo #boxImagens #box3 #boxFavoritos.active{
    opacity: 1;
    width: 100%;
    z-index: 1000;
    
}