
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    letter-spacing: 1.5px;
    line-height: 1.2em;
    text-decoration: none;
    list-style-type: none;
}
