@import url('/css/estilo.css');

@keyframes slide-fundo {
    from{
        /* background-position: left; */
        transform: scale(1.5, 1.5);
    }
    to{
        /* background-position: right; */
        transform: scale(1, 1);
    }
}

body{
    display: flex;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.slide-fundo{
    /* background-image: url('../img/fundo-terra.png'); */
    
    animation-name: slide-fundo;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}


.container{
    position: absolute;
    max-width: 100%;
    min-width: 100vw;
    max-height: 100%;
    min-height: 100vh;
    background-color: rgba(14, 83, 193, 0.5);
    /* background-color: transparent; */
    display: grid;
    grid-template-columns: 7% minmax(400px, 55%) minmax(500px, 35%);
    overflow: scroll;
    
}


/* CONTAINER LINHAS */
.container .container-linhas{
    background-image: url('../img/linhas.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    
}



/* CONTAINER TEXTO */
.container .container-texto{
    /* padding-left: 40px; */
    padding-left: 4%;
    /* border: solid 1px red; */
}

.container-texto .box-texto{
    display: grid;
    grid-template-columns: 40px 1fr;
    
    padding-top: 230px;
    /* padding-left: 40px; */

}


.container-texto .box-texto .box1{
    color: white;
    font-size: 40px;
    padding-top: 240px;
    
}

.container-texto .box-texto .box1 li{
    border: solid 2px white;
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
}

.container-texto .box-texto .box1 li:hover, li:active{
    color: white;
    background-color: white;
}

.container-texto .box-texto .box2{
    /* margin-left: 40px; */
    margin-left: 4%;
    max-width: 700px;
}

.container-texto .box-texto .box2 .btn-menu{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 35px;
}

.container-texto .box-texto .box2 .btn-menu i{
    font-size: 35px;
    color: white;
    gap: 20px;
}

.container-texto .box-texto .box2 .btn-menu i:hover{
    color: rgba(255, 255, 255, 0.7);
}

.container-texto .box-texto .box2 #btnProxima{
    margin-left: 15px;
}

.container-texto .box-texto .box2 #titulo{
    max-width: 500px;
    font-size: 4rem;
    line-height: 1em;
    font-weight: 700;
    color: white;
    margin-bottom: 35px;
}

.container-texto .box-texto .box2 .texto{
    color: white;
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 35px;
}

.container-texto .box-texto .box2 .btn-saibaMais{
    max-width: 500px;
}

.container-texto .box-texto .box2 .btn-saibaMais #btnSaibaMais{
    width: 100%;
    height: 80px;
    background-color: transparent;
    border: solid 3px white;
    border-radius: 50px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.container-texto .box-texto .box2 .btn-saibaMais #btnSaibaMais:hover{
    background-color: white;
    color: #1164f2;
}


/* CONTAINER LOGIN */
.container .container-login{
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 100px;
    /* height: 80vh; */
    border: solid 2px rgba(255, 255, 255, 0.10);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .05);
    text-align: center;
    position: relative;
    
}

/* Logo */
.container-login .container-login-logo{
    /* margin-top: 100px; */
    margin-top: 20%;
   
}


/* Formulario */
.container-login .container-login-formulario{
    /* margin-top: 100px; */
    margin-top: 20%;
    padding: 0px 50px;
    
}

.container-login-formulario .fundo-input{
    display: flex;
    width: 100%;
    height: 80px;
    text-align: left;
    line-height: 80px;
    padding: 0px 30px;
    background-color: transparent;
    border: solid 3px white;
    border-radius: 50px;
    margin-bottom: 25px;
}

.container-login-formulario .fundo-input i{
    color: white;
    line-height: 70px;
    font-size: 30px;
}

.container-login-formulario .fundo-input input{
    background: transparent;
    border: none;
    width: 88%;
    height: 100%;
    padding-left: 20px;
    font-size: 20px;
    outline: none;
    color: white;
    
    
}

.container-login-formulario .manter-login{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.container-login-formulario .manter-login input{
    all: unset;
    border: solid 2px white;
    width: 22px;
    height: 22px;
    border-radius: 3px;
    cursor: pointer;

}

.container-login-formulario .manter-login input:checked{
    background-color: #007aff;
    border: solid 2px #007aff;
}


.container-login-formulario .manter-login .texto{
    margin-left: 10px;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    
}

.container-login-formulario #btnAcessar{
    width: 100%;
    height: 80px;
    margin-top: 25px;
    background-color: white;
    border: none;
    border-radius: 50px;
    color: #1164f2;
    font-size: 20px;
    cursor: pointer;
    transition: .5s;

}

.container-login-formulario #btnAcessar:hover{
    background-color: transparent;
    color: white;
    border: solid 3px white;
    transition: .5s;
}

.container-login-formulario .textoClique{
    margin-top: 25px;
    color: white;
    font-size: 18px;
}

.container-login-formulario .textoClique a{
    color: white;
    cursor: pointer;
    font-weight: 700;
    transition: .2s;
}

.container-login-formulario .textoClique a:hover{
    /* color: rgb(221, 221, 221);
    border-bottom: solid 3px white;
    transition: .2s; */

    padding: 3px 8px;
    background-color: #1164f2;
    border-radius: 8px;
}

/* Direitos */
.container-login .container-login-direitos{
    color: white;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: 10;
}

@media (max-height: 850px){
    body{
        overflow: scroll;
        overflow-x: hidden;
    }

    .slide-fundo{
        animation: none;
    }

    #imgFundo{
        /* width: 100vw; */
        height: 100vh;
        background-position: bottom;
        background-size: cover;

    }
}

@media (max-width: 1200px){
    .container-texto .box-texto .box2 #titulo{
        font-size: 2rem;
    }
}

@media (max-width: 950px){
    .container{
        display: flex;
        /* flex-direction: row-reverse; */
        flex-wrap: wrap-reverse;
        width: 100%;
        /* grid-template-rows:auto auto; */
        padding: 20px;
        /* transition: .5s; */
    }

    .container .container-linhas{
        display: none;
    }

    .container-texto .box-texto{
        width: 100%;
        display: block;
        padding: 0;
        margin: 0;
    }

    .container-texto .box-texto .box1{
        display: none;
    }

    .container-texto .box-texto .box2{
        margin: 0;
        padding: 20px 0px;
    }

    .container .container-login{
        width: 100%;
        margin: 0;
        padding: 0;
        
        /* position: absolute; */
    }

}