/** =========================================================================
 ** AÇÕES DO MENU ESQUERDO
 ** ========================================================================*/

@keyframes fadeDireita {
    from{
        width: 0;
        opacity: 0;
    }
    to{
        width: 335px;
        opacity: 1;
    }
}

@keyframes fadeVoltarDireita {
    from{
        width: 335px;
        opacity: 1;
    }
    to{
        width: 0 all; /* Tive que colocar all para não estourar a tela */
        opacity: 0;
    }
}

.containerPrincipal .corpo #lateralDireita{
    background-color: #eeeeee;
    border-radius: 10px 0 0 10px;
    transition: .5s;

    position: absolute;
    top: 150px;
    right: 0;

    animation: fadeVoltarDireita 1s forwards;
    height: calc(100vh - 250px);

}

.containerPrincipal .corpo #lateralDireita.active{
    animation: fadeDireita 1s forwards;

}


/* ESTILO BOX1 */
.corpo #lateralDireita #box1-titulo{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;

}

/* ESTILO BOX1 - TITÚLO */
.corpo #lateralDireita #box1-titulo #titulo{
    color: #0052f3;
}


/* ESTILO BOX1 - BOTÃO FECHAR */
.corpo #lateralDireita #box1-titulo #btnFecharDireita{
    background: none;
    border: none;
    color: #0052f3;
    font-size: 25px;
    cursor: pointer;
}

.corpo #lateralDireita #box1-titulo #btnFecharDireita:hover{
    color: #636363;
}

.corpo #lateralDireita #box1-titulo #btnFecharDireita[aria-label]::after{
    position: absolute;
    top: -2px;
    right: 25px;
    width: max-content;
}

.corpo #lateralDireita #box2-menu{
    /* height: 100px; */
    width: 100%;
    border-bottom: solid 2px #dedede;

    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.corpo #lateralDireita #box2-menu > button{
    background: none;
    border: none;
    color: #636363;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.corpo #lateralDireita #box2-menu > button:hover{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.24);
    color: #0052f3;
}

.corpo #lateralDireita #box2-menu #btnDetalhes.active, #lateralDireita #box2-menu #btnProblema.active, #lateralDireita #box2-menu #btnAletas.active, #lateralDireita #box2-menu #btnHistorico.active{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.24);
    color: #0052f3;
}